<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" type="text/css" href="error_style.css">
		<title> Error. </title>
	</head>

	<body>
		<div id="error">
			<h1> Error - You entered incorrect data - Please try again  </h1><br>
			<form action="/signin" method="get">
				<input type="submit" value="Sign In" id="sub1">
			</form>
			<br>
			<form action="/" method="get">
				<input type="submit" value="Home" id="sub2">
			</form>


		</div>

	</body>
</html>