<!DOCTYPE html>

<html>
	<head>
		<title> Home. </title>

		<link rel="stylesheet" type="text/css" href="home_css.css">
	</head>

	<body>
		<div id="div1">
				<img id="home_logo" src="home_icon.png">
		</div>
		<div id="div2">
			<h1> Welcome Home </h1><hr><br>
			<form action="/signup" method="get">
			<input type="submit" value="Sign Up" id="sub1">
			</form>
			<br><hr><br>
			<form action="/signin" method="get">
			<input type="submit" value="Sign In" id="sub2">
			</form>
			<br><br>
		</div>
	</body>
</html>